
.demonstraProduto{
    display:flex;
}

.boxImagens {
    position: absolute;
    width: 680px;
    height: 460px;
    display: inline-block;
    background-color: darkgray;
    border-radius: 4px 0px 4px 4px;
}

.imgMiniatura {
    width: 6rem;
    display: block;
    margin: 3px;
    border-radius: 2px;
}

.imgAmpliada{
    position: absolute;
    top: 3px;
    left: 7rem;
    width: 35rem;
    display: none;
    border-radius: 3px;
}

img.imgMiniatura:hover~img.imgAmpliada {
    display: block;
}

.resumoProduto {
    margin-left: 42rem;
    padding-left: 20px;
    min-height: 460px;
}

.resumoProduto p {
    text-align: justify;
}

div.resumoProduto ul {
    list-style: none;
    display: inline-block;
}

.navegaPagina {
    padding-left: 0;
}

ul.navegaPagina li {
    margin: 4px;
}

ul.navegaPagina button {
    width: 179px;
}

.compre{
    width: 50%;
    margin-top: auto;
    text-align: center;
}

div.compre p {
    text-align: center;
}

.opcoesPagamento {
    text-align: center;
    margin-left: 25px;
    padding: 4px 20px 4px 20px;
    background-color: LightGrey;
    border-radius: 3px;
    width: 80%;
}

#desativado {
    color: Black;
    font-weight: bold;
}

.tamanhoMedio {
    font-size: 18pt;
}

.tamanhoGrande {
    font-size: 30pt;
}

.botaoComprar {
    font-weight: bold;
    color: green;
    font-size:25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#mostra_oculta_opc_pag_id {
    margin-bottom: 0;
    text-align: center;
    margin-left: 50%;
}

.caixaFlexivel {
    display: flex;
}

.navega_e_compra{
    display: flex;
    justify-content: space-between;
}

.frete {
    width: 50%;
}

div.frete input {
    margin: 4px 0px 4px 4px;
    width: 140px;
    display: inline;
}

div.frete label {
    margin-left: 10px;
}

#btn_calc_frete, #formulario_cep {
    display: inline-block;
}

#btn_calc_frete button{
    width: 120px;
}

#formulario_cep input {
    width: 130px;
}
#label_cep {
    display: block;
}

div#areaDescricao p, div#areaEspecificacao li, div#areaComentarios .caixaFlexivel p {
    text-align: justify;
}

div#areaComentarios textarea, div#areaDuvidas textarea {
    width: 50%;
    resize: none;
}

div#areaComentarios .caixaFlexivel img {
    width: 80px;
    height: auto;
}

div#areaDuvidas .duvidaPublicada img {
    width: 60px;
}

div#areaDuvidas .respostaUsuario img {
    width: 45px;
}

.duvidaPublicada {
    display: flex;
    text-align: justify;
    background-color:#a9a9a9;
    margin-top: 15px;
    margin-bottom: 4px;
    padding-right: 3px;
    border-radius: 2px;
}

#areaDuvidas img, textarea {
    margin: 3px;
    border-radius: 2px;
}

.respostaUsuario, .respostaLogista {
    display: flex;
    background-color: #dcdcdc;
    text-align: justify;
    margin-left: 60px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 3px;
    border-radius: 2px;
}