.precoTachado{
    text-decoration: line-through;
    font-size: 10pt;
    color: red;
    margin: 3px;
}

.precoDeVenda{
    color:green;
    font-size: 14pt;
    margin: 3px;
}

.centralizar{
    text-align: center;
}

.justifica {
    text-align: justify;
}

.justifica::after {
    content:"";
    display: inline-block;
    width: 100%;
}

.area-categoria{
    width: 12rem;
    font-weight: bold;    
}

.area-produtos {
    width: 80%;
    display: inline-block;
}

.box-produto {
    text-align: center;
    display: inline-block;
    width: 14em;    
}

.box-produto img {
    border-radius: 3px;
    height: 10em;
}
