.precoTachado{
    text-decoration: line-through;
    font-size: 10pt;
    color: red;
    margin: 3px;
    text-align: center;
}

.precoDeVenda{
    color:green;
    font-size: 14pt;
    margin: 3px;
    /* text-align: center; */
}

.centralizar{
    text-align: center;
}

.justifica {
    text-align: justify;
}

.justifica::after {
    content:"";
    display: inline-block;
    width: 100%;
}

.area-categoria{
    width: 12rem;
    font-weight: bold;    
}

.area-produtos {
    width: 80%;
    display: inline-block;
}

.box-produto {
    text-align: center;
    display: inline-block;
    width: 235px;
    height: 305px;
    border-radius: 4px;
}

li.box-produto div {
    height: 170px;
    padding: 5px;
}

li.box-produto p {
    margin-bottom: 0;
}

.box-produto img {
    border-radius: 3px;
    height: 160px;
}